* {
  list-style: none;
  text-decoration: none;
}

.video1 {
  width: 520px;
  height: 520px;
  margin-left: 520px;
}

.write {
  background-color: blue;
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.menu-list1 {
  display: flex;
  gap: 90px;
  font-size: 23px;
  font-style: oblique;
  text-align: center;
  margin-left: 490px;
}

.video2 {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: #e2dede;
  margin-top: 50px;
}

.video3 {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: #e2dede;
  margin-top: 50px;
}

.video {
  display: flex;
  gap: 350px;
  margin-left: 150px;
}

.videoo {
  display: flex;
  gap: 350px;
  margin-left: 150px;
}

.p1 {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

.p2 {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin-top: 100px;
}

.video4 {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: #e2dede;
  margin-top: 50px;
}

.video5 {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: #e2dede;
  margin-top: 50px;
}
.v {
  margin-left: 400px;
  margin-top: 90px;
  display: flex;
  gap: 300px;
}
.btn1 {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid yellow;
  border-radius: 18px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn1:hover {
  background-color: yellow;
  color: burlywood;
}
.btn2 {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid;
  border-radius: 18px;
  background-color: white;
  color: blueviolet;
  cursor: pointer;
}
.btn2:hover {
  background-color: blue;
  color: grey;
}
.p7 {
  width: 200px;
  height: 100px;
}
.end {
  background-color: rgba(0, 0, 0, 0.636);
  text-align: center;
  font-size: 22px;
  color: white;
  width: 100%;
  height: 400px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.containerr {
  flex: 1;
}

.footer {
  background: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
